.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.noUi-target {
    position: relative;
    direction: ltr
}

.noUi-base {
    width: 100%;
    height: 49px;
    position: relative
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0
}

.noUi-handle {
    position: relative;
    z-index: 1
}

.noUi-stacking .noUi-handle {
    z-index: 10
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left .3s, top .3s;
    transition: left .3s, top .3s
}

.noUi-state-drag * {
    cursor: inherit!important
}

.noUi-base {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.noUi-vertical {
    width: 18px
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px
}

.noUi-origin {
    border-radius: 0;
}

.noUi-target {
    border-radius: 0;
}

.noUi-dragable {
    cursor: w-resize
}

.noUi-vertical .noUi-dragable {
    cursor: n-resize
}

.noUi-handle {
    border: none;
    border-radius: 0;
    background: #FFF;
    cursor: default;
}

.noUi-handle:after,
.noUi-handle:before {
    /*content: "";*/
    
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    left: 14px;
    top: 6px
}

.noUi-handle:after {
    left: 17px
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px
}

.noUi-vertical .noUi-handle:after {
    top: 17px
}
/*[disabled] .noUi-connect, [disabled].noUi-connect {
  background: #B8B8B8
}*/
/*[disabled] .noUi-handle {
  cursor: not-allowed
}*/
/* To calibrate the handler, it is necessary to make adjustments to:
padding-right of .noUi-horizontal.noUi-extended
left of .noUi-horizontal.noUi-extended .noUi-handle,
right of .noUi-horizontal.noUi-extended .noUi-origin
and width of .noUi-horizontal .noUi-handle  */

.slider {
    display: inline-block;
    float: left;
    margin-left: -43%;
    min-width: 1047px;
    height: 87px;
    background-color: black;
    max-width: 70%;
    top: 100px;
}

div.arrows {
    float: left;
    color: white;
    width: 60px;
    height: 16px;
    margin-top: 57px;
    margin-left: 4.5px;
}

.dot {
    height: 14px;
    width: 14px;
    background-color: #F00;
    border-radius: 20px;
    display: block;
    float: left;
    position: relative;
    top: 0;
    left: 35%;
}

.dot:before,
.dot:after {
    position: relative;
    font-size: 40px;
}

.dot:before {
    content: "\00AB  \0020";
    left: -21px;
    bottom: 0.5px;
}

.dot:after {
    content: "\00BB \0020";
    right: -13px;
    bottom: 22px;
}

.noUi-beforeHandler {
    background: rgba(0, 0, 0, 0.4);
    float: left;
    height: inherit;
}

.noUi-horizontal.noUi-extended {
    padding-right: 60px;
}

.noUi-horizontal.noUi-extended .noUi-handle {
    background: transparent;
    width: 59px;
    height: 50px;
    border-bottom: 3px solid red;
    left: -59px;
}

.noUi-horizontal.noUi-extended .noUi-origin {
    right: -45px;
    border-radius: 0;
    margin-left: 6%;
    margin-right: -15px;
}

.noUi-target.noUi-connect {
    box-shadow: none;
}

.noUi-connect {
    background-image: url(../yourBackgroundImage);
    background-size: 1047px 50px;
    background-repeat: no-repeat;
}

.noUi-base {
    border-radius: 0;
}

.noUi-background {
    background: rgba(0, 0, 0, 0.4);
}

.controls {
    position: relative;
    left: 47%;
    margin: 0;
    bottom: 96px;
    padding: 0;
}

.bottom-left {
    position: relative;
    right: 575px;
    top: 39px;
}

.bottom-right {
    position: relative;
    left: 549px;
    top: 39px;
}

.top-center {
    bottom: 370px;
    right: 18px;
    position: relative;
}

.bottom-center {
    position: relative;
    right: 18px;
    top: 39px;
}